.filter-acc-wrap {
    margin: 10px 0;
}

.filter-acc-header {
    width: 100%;
    border-radius: unset;
    background-color: #E31E24;
    color: #FFF;
    font-size: 20px;
    line-height: 40px;
    padding: 0;
    border: none !important;
}

.filter-acc-body {
    width: 100%;
    padding: 10px 20px 0;
}

.btn-filter-wrap {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.filter-btn {
    margin: 6px 0;
    width: 30%;
    border: 1px solid #E31E24;
    text-align: center;
    line-height: 32px;
    color: #444;
    font-size: 14px;
    cursor: pointer;
}

.filter-btn.active,
.filter-btn:hover {
    color: #FFF;
    background-color: #E31E24;
}

.example-container {
    height: 100%;
    background-color: rgb(185, 209, 253);
  }
  
  .panel-container {
    height: 100%;
    width: 100%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  
  button {
    margin: 2px;
  }
  
  .form-container {
    padding: 30px;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  
  .accordion {
    width: 100%;
    padding: 0px 20px;
  }

 .collapse {
   width: 100%;
 }

 .show {
   width: 100%;
 }

 .collapsing {
   width: 100%;
 }

 @media only screen and (max-width: 666px) {
  .glass {
      width: 50vw !important;
  }

  .panel {
    width: 50vw !important;
  }
  .filter-btn {
    width: 100%;
  }
}