.back-btn {
    padding: 10px 0 10px 40px;
    width: 120px;
    text-align: center;
    color: #000;
    font-size: 24px;
    font-weight: bold;
    font-family: sans-serif;
    cursor: pointer;
    background-image: url(/img/back_btn.png);
    background-position: left center;
    background-repeat: no-repeat;
}

.list-title {
    margin: 20px 0 40px;
    padding: 10px 0;
    width: 100%;
    text-align: center;
    color: #FFF;
    font-size: 28px;
    letter-spacing: 1px;
    font-family: sans-serif;
    background: -webkit-linear-gradient(left, #E31E2400 0%, #E31E24FF 30%, #E31E24FF 70%, #E31E2400 100%);
    background: -o-linear-gradient(left, #E31E2400 0%, #E31E24FF 30%, #E31E24FF 70%, #E31E2400 100%);
    background: linear-gradient(to right, #E31E2400 0%, #E31E24FF 30%, #E31E24FF 70%, #E31E2400 100%);
}

.list-wrap {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.list-item-detail {
	position: relative;
    width: 100%;
    height: 550px;
	background-position: center 20%;
	background-size: cover;
}

.list-item-detail .image {
	min-height: 450px;
}

.stream-details {
	width: 100%;
	padding: 40px 20px;
	margin: 30px 0;
	background-color: #BBB;
}

.class-description {
	color: #000;
	font-size: 18px;
	font-weight: bold;
}

.class-video {
    margin: 0 auto;
    overflow: hidden;
}

@media only  screen and (max-width: 1200px) {
    .list-item-detail {
        height: 450px;
    }
}

@media only screen and (max-width: 1023px) {
    .list-item-detail {
        height: 350px;
    }
}

@media only screen and (max-width: 666px) {
    .list-item-detail {
        height: 250px;
    }
    
}
