.backBtn {
    padding: 10px 0 10px 40px;
    width: 120px;
    text-align: center;
    color: #000;
    font-size: 24px;
    font-weight: bold;
    font-family: sans-serif;
    cursor: pointer;
    background-image: url(/img/back_btn.png);
    background-position: left center;
    background-repeat: no-repeat;
}

.listTitle {
    margin: 20px 0 40px;
    padding: 10px 0;
    width: 100%;
    text-align: center;
    color: #FFF;
    font-size: 28px;
    letter-spacing: 1px;
    font-family: sans-serif;
    background: -webkit-linear-gradient(left, #E31E2400 0%, #E31E24FF 30%, #E31E24FF 70%, #E31E2400 100%);
    background: -o-linear-gradient(left, #E31E2400 0%, #E31E24FF 30%, #E31E24FF 70%, #E31E2400 100%);
    background: linear-gradient(to right, #E31E2400 0%, #E31E24FF 30%, #E31E24FF 70%, #E31E2400 100%);
}

.listWrap {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.listItemDetail {
	position: relative;
	width: 100%;
	background-position: center 20%;
	background-size: cover;
}

.listItemDetail .image {
	min-height: 450px;
}

.streamDetails {
	width: 100%;
	padding: 40px 20px;
	margin: 30px 0;
	background-color: #BBB;
}

.classDescription {
	color: #000;
	font-size: 18px;
	font-weight: bold;
}

.classVideo {
    margin: 0 auto;
    overflow: hidden;
}
