.loginFormWrap {
    margin: 0 auto;
    padding: 80px 40px;
    border: 2px solid #FFF;
    border-radius: 20px;
    box-shadow: 0 0px 20px 0px #0008;
}

.loginFormWrap::after {
    content: "";
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		opacity: 0.6;
		border-radius: 20px;
        background-image: url(/img/login_bg.jpg);
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		z-index: -1;  
}

.loginBtn {
    display: block;
    margin: 0 auto;
    width: 40%;
    line-height: 30px;
    color: #FFF;
    background-color: #E31E24;
    font-size: 20px;
    background-image: none;
}

.spinner {
    position: relative;
    left: 47%;
    width: 30px;
    height: 30px;
}
