.DrawerToggle {
    width: 60px;
    height: 60px;
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0;
    box-sizing: border-box;
    cursor: pointer;
}

.DrawerToggle div {
    width: 90%;
    height: 3px;
    background-color: #898989;
}

/* @media (min-width: 500px) {
    .DrawerToggle {
        display: none;
    }
} */