.user-wrap {
    position: relative;
    height: 180px;
    border-radius: 20px;
    border: 2px solid #FFF;
    box-shadow: 0 0px 20px 0px #0008;
    margin-bottom: 20px;
    overflow: hidden;
    cursor: pointer;
}

.user-image {
    position: relative;
    float: left;
    width: 25%;
    height: 100%;
    border-right: 2px solid #FFF;
    background-size: cover;
    background-position: center 20%;
    background-repeat: no-repeat;
}

.list-is-follower {
    position: absolute;
    right: 10px;
    top: 10px;
    width: 32px;
    height: 33px;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(/img/is_follower.png);
}

.user-info {
    float: left;
    width: 75%;
    height: 100%;
    background-color: #FFF;
}

.header-line {
    height: 24px;
    width: 100%;
}

.user-viwers,
.user-is-live {
    float: left;
    width: 50%;
    text-align: center;
    color: #FFF;
    font-size: 16px;
    line-height: 24px;
    background-color: #555;
    border-bottom: 1px solid #BBB;
}

.user-viwers {
    background-color: #898989;
}

.user-is-live.online {
    background-color: #E31E24;
}


.class-title {
    font-size: 20px;
    font-weight: bold;
}

.no-have-pro {
    text-align: center;
    font-size: 30px;
}

/* PROFILE */

.links-line {
    position: relative;
    overflow: hidden;
}

.set-follow-btn,
.unset-follow-btn {
    float: right;
    width: 200px;
    height: 40px;
    color: #FFF;
    font-size: 20px;
    line-height: 34px;
    text-align: center;
    background-color: #E31E24;
    border: 2px solid #444;
    border-radius: 10px;
    cursor: pointer;
}

.unset-follow-btn {
    color: #444;
    background-color: transparent;
}

.pro-photo {
    position: relative;
    margin: 20px auto;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 2px solid #FFF;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0 0px 20px 0px #0008;
}

.pro-name {
    font-size: 30px;
    text-align: center;
    font-weight: 600;
}

.pro-follower {
    font-size: 20px;
    text-align: center;
}

/*	.list-title {
    margin: 80px 0 30px;
    padding: 10px 0;
    width: 100%;
    text-align: center;
    color: #FFF;
    font-size: 28px;
    letter-spacing: 1px;
    font-family: sans-serif;
    background: -webkit-linear-gradient(left, #E31E2400 0%, #E31E24FF 30%, #E31E24FF 70%, #E31E2400 100%);
    background: -o-linear-gradient(left, #E31E2400 0%, #E31E24FF 30%, #E31E24FF 70%, #E31E2400 100%);
    background: linear-gradient(to right, #E31E2400 0%, #E31E24FF 30%, #E31E24FF 70%, #E31E2400 100%);
}
*/
.list-title {
    margin: 80px 0 30px;
}

.profile-wrap .title {
    margin-top: 30px;
    font-weight: bold;
}

.profile-wrap .info {
    font-size: 20px;
}

.video-wrap {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

/*	.video-block {
    position: relative;
    margin-bottom: 20px;
    min-width: 240px;
    min-height: 180px;
    border: 2px solid #FFF;
    border-radius: 20px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0 0px 20px 0px #0008;
    cursor: pointer;
}

.video-block:hover {
    box-shadow: 0 0px 20px 0px #E31E24;
}*/

.list-item {
    position: relative;
    width: 100%;
    margin: 0 auto;
    min-height: 320px;
    /*width: 400px;*/
    color: #FFF;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-origin: border-box;
    /*box-shadow: 0 0px 20px 0px #0008;*/
    border: 2px solid #FFF;
    border-radius: 20px;
    transition: all linear .3s;
    cursor: pointer;
}

.list-item.demand1{
    background-size: 150%, cover;
    background-position: center, center;
    background-repeat: no-repeat, no-repeat;

}

@media screen and (max-width: 991px) {
    .list-item {
        width: 80%;
    }
}


.video-title {
    position: absolute;
    width: 100%;
    bottom: 0;
    color: #FFF;
    padding: 4px 10px;
    font-weight: bold;
    text-align: center;
}

.stream-info {
    position: absolute;
    left: 20px;
    right: 20px;
    bottom: 20px;
    overflow: hidden;
}

.class-pro-name, .class-title, .class-date {
    font-weight: bold;
}

.class-pro-name, .class-title, .class-date, .class-duration {
    color: #FFF;
    opacity: .9;
}

.content-line .class-title {
    color: #444;
}

.list-item-detail {
    position: relative;
    width: 100%;
    background-position: center 20%;
    background-size: cover;
}

.list-item-detail.image {
    min-height: 450px;
}

.nav .nav-item .nav-tabs,
.nav .nav-item .nav-tabs .nav-link:hover,
.nav .nav-item .nav-tabs .nav-link.active {
	border: 1px solid transparent;
}

.nav .nav-item .nav-tabs .nav-link {
	padding: 16px;
	color: #444;
	font-size: 20px;
	background-color: transparent;
	border-radius: unset;
}

.nav .nav-item .nav-tabs .nav-link.active {
	color: #FFF;
	background-color: #E31E24;
}

.nav .tab-content {
	padding: 40px 0;
	background-color: transparent;
}

.arrow-back {
    border: 0;
    width: 30px;
    height: 30px;
    position: absolute;
    left: 5px;
    top: 50%;
    z-index: 20;
    background-color: transparent;
    background-image: url(/img/back.png);
    background-repeat:no-repeat;
    background-size: 25px;
}

.arrow-back:hover {
    background-color: transparent;
    background-image: url(/img/back_hover.png);
    background-repeat:no-repeat;
    background-size: 25px;
}

.arrow-next {
    border: 0;
    width: 30px;
    height: 30px;
    position: absolute;
    right: 5px;
    top: 50%;
    z-index: 20;
    background-color: transparent;
    background-image: url(/img/next.png);
    background-repeat:no-repeat;
    background-size: 25px;
}

.arrow-next:hover {
    background-color: transparent;
    background-image: url(/img/next_hover.png);
    background-repeat:no-repeat;
    background-size: 25px;
}
