.links-line {
    position: relative;
    overflow: hidden;
}

.profile-wrap .title {
    margin-top: 30px;
    font-weight: bold;
}

.profile-wrap .info {
    font-size: 20px;
}

.pro-photo {
    position: relative;
    margin: 20px auto;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 2px solid #FFF;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0 0px 20px 0px #0008;
}

.list-item.demand {
    background-size: 120%, cover;
}

.list-is-follower {
    position: absolute;
    right: 10px;
    top: 10px;
    width: 32px;
    height: 33px;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(/img/is_follower.png);
}

.pro-name {
    font-size: 30px;
    text-align: center;
    font-weight: 600;
}

.class-pro-name, .class-title, .class-date {
    font-weight: bold;
}

.class-pro-name, .class-title, .class-date, .class-duration {
    color: #FFF;
    opacity: .9;
}

.pro-follower {
    font-size: 20px;
    text-align: center;
}

.list-title {
    margin: 80px 0 30px;
}

.profile-wrap .title {
    margin-top: 30px;
    font-weight: bold;
}

.profile-wrap .info {
    font-size: 20px;
}

.video-wrap {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.list-title {
    margin: 80px 0 30px;
}

.list-item.demand1{
    background-size: 150%, cover;
    background-position: center, center;
    background-repeat: no-repeat, no-repeat;

}

.stream-info {
    position: absolute;
    left: 20px;
    right: 20px;
    bottom: 20px;
    overflow: hidden;
}

.class-title {
    font-size: 20px;
    font-weight: bold;
}


.arrow-back {
    border: 0;
    width: 30px;
    height: 30px;
    position: absolute;
    left: 5px;
    top: 50%;
    z-index: 20;
    background-color: transparent;
    background-image: url(/img/back.png);
    background-repeat:no-repeat;
    background-size: 25px;
}

.arrow-back:hover {
    background-color: transparent;
    background-image: url(/img/back_hover.png);
    background-repeat:no-repeat;
    background-size: 25px;
}

.arrow-next {
    border: 0;
    width: 30px;
    height: 30px;
    position: absolute;
    right: 5px;
    top: 50%;
    z-index: 20;
    background-color: transparent;
    background-image: url(/img/next.png);
    background-repeat:no-repeat;
    background-size: 25px;
}

.arrow-next:hover {
    background-color: transparent;
    background-image: url(/img/next_hover.png);
    background-repeat:no-repeat;
    background-size: 25px;
}

@media only screen and (max-width: 666px) {
    .arrow-back, .arrow-next {
        display: none;
    } 
}
