.user-wrap {
    position: relative;
    height: 180px;
    border-radius: 20px;
    border: 2px solid #FFF;
    box-shadow: 0 0px 20px 0px #0008;
    margin-bottom: 20px;
    overflow: hidden;
    cursor: pointer;
}


.user-image {
    position: relative;
    float: left;
    width: 25%;
    height: 100%;
    border-right: 2px solid #FFF;
    background-size: cover;
    background-position: center 20%;
    background-repeat: no-repeat;
}

.list-is-follower {
    position: absolute;
    right: 10px;
    top: 10px;
    width: 32px;
    height: 33px;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(/img/is_follower.png);
}

.user-info {
    float: left;
    width: 75%;
    height: 100%;
    background-color: #FFF;
}

.header-line {
    height: 24px;
    width: 100%;
}

.user-viwers,
.user-is-live {
    float: left;
    width: 50%;
    text-align: center;
    color: #FFF;
    font-size: 16px;
    line-height: 24px;
    background-color: #555;
    border-bottom: 1px solid #BBB;
}

.user-viwers {
    background-color: #898989;
}


.content-line .class-title {
    color: #444;
}


.class-pro-name, .class-title, .class-date {
    font-weight: bold;
}

.class-pro-name, .class-title, .class-date, .class-duration {
    color: #FFF;
    opacity: .9;
}

.content-line .class-title {
    color: #444;
}

.list-item.trainer{
    background-size: 150%;
    width: 100%;
    min-height: 320px;
}
@media only  screen and (max-width: 1200px) {
    .user-wrap {
        height: 180px;
    }
}

@media only screen and (max-width: 1023px) {
    .class-wrap {
        height: 140px;
    }
}

@media only screen and (max-width: 666px) {
    .list-item.trainer{
 
        width: 100%;
        min-height: 90px;
    }
    .class-wrap {
        height: 90px;
    }
    .nav.nav-tabs {
        font-size: 0.7rem;
    }
    .user-wrap {
        height: 110px;
    }
}



