.list-title {
    margin: 20px 0 40px;
    padding: 10px 0;
    width: 100%;
    text-align: center;
    color: #FFF;
    font-size: 28px;
    letter-spacing: 1px;
    font-family: sans-serif;
    background: -webkit-linear-gradient(left, #E31E2400 0%, #E31E24FF 30%, #E31E24FF 70%, #E31E2400 100%);
    background: -o-linear-gradient(left, #E31E2400 0%, #E31E24FF 30%, #E31E24FF 70%, #E31E2400 100%);
    background: linear-gradient(to right, #E31E2400 0%, #E31E24FF 30%, #E31E24FF 70%, #E31E2400 100%);
}

.profile-photo {
    position: relative;
    padding-right: 0;
    padding-left: 0;
    width: 100%;
    min-height: 450px;
    background-position: center 20%;
    background-size: cover;
}

.profile-info-panel {
    position: absolute;
    padding: 20px 40px;
    bottom: 0;
    width: 100%;
    text-align: center;
    color: #FFF;
    background: -webkit-linear-gradient(bottom, #000A 0%, #0007 50%, #0000 100%);
    background: -o-linear-gradient(bottom, #000A 0%, #0007 50%, #0000 100%);
    background: linear-gradient(to top, rgba(0,0,0, 0.65) 0%, rgba(0,0,0, 0.45) 50%, rgba(0,0,0, 0) 100%); /*linear-gradient(to top, #000A 0%, #0007 50%, #0000 100%);*/
}

.profile-name {
    font-size: 32px;
}	

.profile-location {
    font-size: 20px;
    font-weight: 600px; 
}

.profile-links-wrap {
    margin: 0 auto;
}

.profile-link {
    display: block;
    position: relative;
    width: 100%;
    color: #444;
    font-size: 24px;
    padding: 16px 0 16px 80px;
    margin-bottom: 4px;
    background-position: 24px 50%;
    background-repeat: no-repeat;
    cursor: pointer;
    transition: all .3s linear;
    background-color: #FFF;
}

.profile-link:hover {
    color: #E31E24;
}

/*	.profile-link::after {
    position: absolute;
    content: '';
    width: 100%;
    left: 0;
    bottom: -1px;
    height: 1px;
    background: #444;
    background: -webkit-linear-gradient(left, hsla(0, 0%, 0%, 0) 0%, hsla(0, 0%, 0%, .75) 50%, hsla(0, 0%, 0%, 0) 100%);
    background: -moz-linear-gradient(left, hsla(0, 0%, 0%, 0) 0%, hsla(0, 0%, 0%, .75) 50%, hsla(0, 0%, 0%, 0) 100%);
    background: -ms-linear-gradient(left, hsla(0, 0%, 0%, 0) 0%, hsla(0, 0%, 0%, .75) 50%, hsla(0, 0%, 0%, 0) 100%);
    background: -o-linear-gradient(left, hsla(0, 0%, 0%, 0) 0%, hsla(0, 0%, 0%, .75) 50%, hsla(0, 0%, 0%, 0) 100%);
    background: linear-gradient(left, hsla(0, 0%, 0%, 0) 0%, hsla(0, 0%, 0%, .75) 50%, hsla(0, 0%, 0%, 0) 100%);
}*/

.profile-link.edit {
    background-image: url(/img/profile_edit.png);
}
.profile-link.edit:hover {
    background-image: url(/img/profile_edit_hover.png);
}

.profile-link.alerts {
    background-image: url(/img/profile_alerts.png);
}
.profile-link.alerts:hover {
    background-image: url(/img/profile_alerts_hover.png);
}

.profile-link.subs {
    background-image: url(/img/profile_subs.png);
}
.profile-link.subs:hover {
    background-image: url(/img/profile_subs_hover.png);
}

.profile-link.following {
    background-image: url(/img/profile_following.png);
}
.profile-link.following:hover {
    background-image: url(/img/profile_following_hover.png);
}

.profile-link.settings {
    background-image: url(/img/profile_settings.png);
}
.profile-link.settings:hover {
    background-image: url(/img/profile_settings_hover.png);
}

.profile-link.about {
    background-image: url(/img/profile_about.png);
}
.profile-link.about:hover {
    background-image: url(/img/profile_about_hover.png);
}

.profile-link.logout {
    background-image: url(/img/profile_logout.png);
}
.profile-link.logout:hover {
    background-image: url(/img/profile_logout_hover.png);
}

.profile-link.pros {
    background-image: url(/img/pros.png);
}
.profile-link.pros:hover {
    background-image: url(/img/pros_hover.png);
}

.profile-link.faq {
    background-image: url(/img/faq.png);
}
.profile-link.faq:hover {
    background-image: url(/img/faq_hover.png);
}

.profile-link.profile {
    background-image: url(/img/profile.png);
}
.profile-link.profile:hover {
    background-image: url(/img/profile_hover.png);
}


.section-title {
    padding-bottom: 10px;
    width: 100%;
    color: #444;
    font-size: 28px;
    letter-spacing: 1px;
    font-family: sans-serif;
}

.section-title.second {
    padding-top: 50px;
}

.profile-wrap {
    margin-top: 50px;
}