.AppMainMenu {
    width: 100%;
}

.menuItem {
    float: left;
    position: relative;
    display: inline-block;
    width: 100px;
    height: 100px;
    cursor: pointer;
}

.menuItem::before {
    position: absolute;
    content: '';
    height: 100%;
    right: 0;
    width: 1px;
    background: #898989;
    background: -webkit-gradient(linear, 100% 0, 100% 100%, color-stop(0%, hsla(0, 0%, 0%, 0)), color-stop(50%, hsla(0, 0%, 0%, .6)), color-stop(100%, hsla(0, 0%, 0%, 0)));
    background: -webkit-linear-gradient(to bottom, hsla(0, 0%, 0%, 0) 0%, hsla(0, 0%, 0%, .6) 50%, hsla(0, 0%, 0%, 0) 100%);
    background: -moz-linear-gradient(to bottom, hsla(0, 0%, 0%, 0) 0%, hsla(0, 0%, 0%, .6) 50%, hsla(0, 0%, 0%, 0) 100%);
    background: -ms-linear-gradient(to bottom, hsla(0, 0%, 0%, 0) 0%, hsla(0, 0%, 0%, .6) 50%, hsla(0, 0%, 0%, 0) 100%);
    background: -o-linear-gradient(to bottom, hsla(0, 0%, 0%, 0) 0%, hsla(0, 0%, 0%, .6) 50%, hsla(0, 0%, 0%, 0) 100%);
    background: linear-gradient(to bottom, hsla(0, 0%, 0%, 0) 0%, hsla(0, 0%, 0%, .6) 50%, hsla(0, 0%, 0%, 0) 100%);
}

.menuItem:last-child:before {
    content: unset;
}

.menuItem.logout {
    height: 60px;
}

.menuIcon {
    margin: 16px auto 4px;
    width: 50px;
    height: 50px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    transition: all linear .3s;
}

.menuIconLive {
    margin: 16px auto 4px;
    width: 50px;
    height: 50px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    transition: all linear .3s;
    background-image: url(/img/live.png);
}

.menuItem:hover .menuIconLive {
    background-image: url(/img/live_hover.png);
}

.menuIconClasses {
    margin: 16px auto 4px;
    width: 50px;
    height: 50px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    transition: all linear .3s;
    background-image: url(/img/classes.png);
}

.menuItem:hover .menuIconClasses {
    background-image: url(/img/classes_hover.png);
}

.menuIconTrainers {
    margin: 16px auto 4px;
    width: 50px;
    height: 50px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    transition: all linear .3s;
    background-image: url(/img/pros.png);
}

.menuItem:hover .menuIconTrainers {
    background-image: url(/img/pros_hover.png);
}

.menuIconProfile {
    margin: 16px auto 4px;
    width: 50px;
    height: 50px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    transition: all linear .3s;
    background-image: url(/img/profile.png);
}

.menuItem:hover .menuIconProfile {
    background-image: url(/img/profile_hover.png);
}


.menuTitle {
    font-size: 16px;
    color: #898989;
    text-align: center;
    text-decoration: none !important;
}

.menuItem:hover .menuTitle {
    color: #E31E24;
    text-decoration: none !important;
}


@media screen and (max-width: 1199px) {
    .app-logo,
    .app-store-logo {
        display: none !important;
    }

    .app-panel {
        justify-content: center;
    }

    .AppMainMenu
 {
        width: 100%;
    }

    .AppMainMenu
 .menuItem {
        width: 20%;
    }


}