.Logo {
    display: block;
		margin: 20px;
		width: 290px;
        height: 60px;
        background-image: url(/img/logo.png);
		background-position: center;
		background-size: contain;
        background-repeat: no-repeat;
}

@media (max-width: 900px) {
    .Logo {
        display: none !important;
    }
}