.login-btn {
    display: block;
    line-height: 30px;
    color: #FFF;
    background-color: #E31E24;
    font-size: 20px;
}

.login-btn:hover {
    background-color: #C30006;
}

.btn-country {
    border: 1px solid #444 !important;
}

.list-title {
    margin: 10px 0 30px;
}

.pro-photo {
    position: relative;
    margin: 20px auto;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 2px solid #FFF;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0 0px 20px 0px #0008;
}
