/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
} */


* {
	outline: none !important;
	box-sizing: border-box;
}

html, body {
	font-family: 'Avenir', Helvetica, Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	width: 100%;
	height: 100%;
	outline: none;
}

body {
	background-color: #E6E6E6;
}

.content-wrap {
	padding: 10px 0 20px;
	min-height: 500px;
}

.notifications {
	margin: 20px;
}

.back-btn {
	padding: 10px 0 10px 40px;
	width: 120px;
	text-align: center;
	color: #000;
	font-size: 24px;
	font-weight: bold;
	font-family: sans-serif;
	cursor: pointer;
	background-image: url(/img/back_btn.png);
	background-position: left center;
	background-repeat: no-repeat;
}

.list-title {
	margin: 30px 0;
	padding: 10px 0;
	width: 100%;
	text-align: center;
	color: #FFF;
	font-size: 28px;
	letter-spacing: 1px;
	font-family: sans-serif;
	background: -webkit-linear-gradient(left, #E31E2400 0%, #E31E24FF 30%, #E31E24FF 70%, #E31E2400 100%);
	background: -o-linear-gradient(left, #E31E2400 0%, #E31E24FF 30%, #E31E24FF 70%, #E31E2400 100%);
	/*background: linear-gradient(to right, #E31E2400 0%, #E31E24FF 30%, #E31E24FF 70%, #E31E2400 100%);*/
	background: linear-gradient(to right, rgba(227,30,36,0) 0%,rgba(227,30,36,1) 30%,rgba(227,30,36,1) 70%,rgba(227,30,36,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00e31e24', endColorstr='#00e31e24',GradientType=1 ); /* IE6-9 */
/*
background: -moz-linear-gradient(left, rgba(227,30,36,0) 0%, rgba(227,30,36,1) 30%, rgba(227,30,36,1) 70%, rgba(227,30,36,0) 100%);
background: -webkit-linear-gradient(left, rgba(227,30,36,0) 0%,rgba(227,30,36,1) 30%,rgba(227,30,36,1) 70%,rgba(227,30,36,0) 100%);
background: linear-gradient(to right, rgba(227,30,36,0) 0%,rgba(227,30,36,1) 30%,rgba(227,30,36,1) 70%,rgba(227,30,36,0) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00e31e24', endColorstr='#00e31e24',GradientType=1 );
*/
}

.stream-details {
	width: 100%;
	padding: 40px 20px;
	margin: 30px 0;
	background-color: #BBB;
}

.class-description {
	color: #000;
	font-size: 18px;
	font-weight: bold;
}

.stream-level {
    width: 100%;
	padding: 20px 0 0;
	text-align: left;
}

.list-item-detail {
	position: relative;
	width: 100%;
	background-position: center 20%;
	background-size: cover;
}

.list-item-detail.image {
	min-height: 450px;
}

.class-join-btn,
.class-unjoin-btn {
	margin: 40px auto 0;
	width: 200px;
	height: 40px;
	background-color: #E31E24;
	color: #FFF;
	font-weight: bold;
	text-align: center;
	font-size: 22px;
	letter-spacing: 1px;
	line-height: 40px;
	cursor: pointer;
}

.class-unjoin-btn {
	color: #444;
	line-height: 36px;
	border: 2px solid #444;
	background-color: transparent;
}


/* loader */
.loader-block {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: #E6E6E6;
	z-index: 999;
}

.loader-gear {
	position: absolute;
	top: calc(50% - 80px);
	left: calc(50% - 80px);
	width: 160px;
	height: 160px;
	transform: translateX(0px) rotate(-360deg);
	animation: loaderAnimate 5s linear infinite;
	z-index: 9991;
	background: url(./app/assets/loader_gear.png) 0 0 no-repeat;
}

.loader-logo {
	position: absolute;
	top: calc(50% - 40px);
	left: calc(50% - 40px);
	width: 80px;
	height: 80px;
	z-index: 9992;
	background: url(./app/assets/loader_logo.png) 0 0 no-repeat;
}

@keyframes loaderAnimate {
	0%{
		opacity: 1;
		transform: translateX(0px) rotate(-360deg);
	}

	100% {
		opacity: 1;
		transform: translateX(0px) rotate(0deg);
	}
}

/* end loader */

.activity-wrap {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-around;
	margin: 40px 0;
}

.activity-elem {
	flex-basis: 48%;
	margin-bottom: 30px;		
/*	min-width: 460px;
	padding: 20px;
*/	border-radius: 20px;
	background-color: #FFF;
	cursor: pointer;
	box-shadow: 0 0 20px -10px #000;
	box-shadow: 0 0 20px -10px #0008;
}

@media screen and (max-width: 991px) {
	.activity-elem {
		flex-basis: 96%; 
	}
}

.activity-elem table {
	width: 100%;
}

.activity-elem table .td-ico {
	width: 100px;
}

.activity-elem table tr td {
	padding: 0 20px;
}

.activity-ico-wrap {
	float: left;
}

.activity-ico {
	width: 100px;
	height: 100px;
	/*margin: 30px 20px 30px 0;*/
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
}

.class-title {
    color: #444;
    font-size: 18px;
    font-weight: bold;
    line-height: 34px;
}

.class-title-big {
    font-size: 22px;
}

@media only  screen and (max-width: 1200px) {
 
}

@media only screen and (max-width: 1023px) {
    .class-title, .class-date {
        font-size: 14px;
    }
}

@media only screen and (max-width: 666px) {
    .class-title, .class-date {
        font-size: 10px;
    }
}


.activity-content {
	margin-left: 120px;
}

.activity-title {
	padding: 20px 0;
	font-size: 24px;
	font-weight: bold;
	text-transform: uppercase;
}

.activity-desc {
	font-size: 18px;
}

.content-line {
    padding: 20px;
}
