.next-stream-time-line {
    width: 100%;
    height: 40px;
    margin: 20px 0;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    color: #E31E24;
    line-height: 40px;
}

.list-wrap {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.activity-name {
    width: 100%;
    margin: 30px 0 10px 16px;
    font-size: 26px;
    text-align: left;
    font-weight: bold;
}

.activity-name.live {
    margin-left: 22px;
}

.list-item {
    position: relative;
    width: 40%;
    margin: 0 auto;
    min-height: 320px;
    /*width: 400px;*/
    color: #FFF;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-origin: border-box;
    /*box-shadow: 0 0px 20px 0px #0008;*/
    border: 2px solid #FFF;
    border-radius: 20px;
    transition: all linear .3s;
    cursor: pointer;
}

.list-item.live {
    width: 48%;
    margin: 0 0 0 22px;
}


.list-item.demand{
    background-size: 100%, cover;
    background-position: 98% 12%, center;
    background-repeat: no-repeat, no-repeat;
    width: 100%;

}


@media only  screen and (max-width: 1200px) {
    .list-item.live {
        min-height: 280px;
    }
    
    .list-item.demand {
        background-size: 103%;
        min-height: 280px;
    }
}

@media only screen and (max-width: 1023px) {
    .list-item.live {
        /* width: 96%; */
        min-height: 230px;        
        /*margin: 0 auto;*/
    }

    .list-item.demand {
        background-size: 103%;
        min-height: 220px;
    }

}

@media only screen and (max-width: 666px) {
    .list-item.live {
        /* width: 96%; */
        min-height: 133px;        
        /*margin: 0 auto;*/
    }

    .list-item.demand {
        background-size: 103%;
        min-height: 113px;
    }
}

.header-line {
    height: 24px;
    width: 100%;
}

.stream-info {
    position: absolute;
    left: 20px;
    right: 20px;
    bottom: 20px;
    overflow: hidden;
}

.class-pro-name, .class-title, .class-date {
    font-weight: bold;
    text-align: left;
}

.class-pro-name, .class-title, .class-date, .class-duration {
    color: #FFF;
    opacity: .9;
}

.stream-viwers,
.stream-is-live-s {
    float: left;
    width: 50%;
    text-align: center;
    color: #FFF;
    font-size: 16px;
    line-height: 24px;
    background-color: #555;
    border-bottom: 1px solid #BBB;
}


.stream-is-live-s.watched {
    background-color: #2CA02C;
}

.stream-is-live-s {
    border-top-left-radius: 20px;
}

.stream-viwers {
    border-top-right-radius: 20px;
}

.stream-viwers {
    background-color: #898989;
}

.stream-is-live-s.online {
    background-color: #E31E24;
}

.back-btn {
    padding: 10px 0 10px 40px;
    width: 120px;
    text-align: center;
    color: #000;
    font-size: 24px;
    font-weight: bold;
    font-family: sans-serif;
    cursor: pointer;
    background-image: url(/img/back_btn.png);
    background-position: left center;
    background-repeat: no-repeat;
}

.list-is-follower {
    position: absolute;
    right: 10px;
    top: 4px;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(/frontend/views/site/img/is_follower.png);
}

.list-is-live {
    position: absolute;
    right: 50px;
    top: 4px;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(/frontend/views/site/img/is_live.png);
}

.no-have-live-classes {
    color: #E31E24;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

.vjs-custom-skin {
    min-width: 100%;
}

.live-tabs {
    width: 100%;
}

.test-video {
   width: 640px;
   height: 360px;
}

#videoPlayer {
    max-width: 100%;
}

.img-list-is-live {
    height: 40px;
    text-align: center;
    line-height: 38px;
    font-size: 26px;
    position: relative;
    background-color: #E31E24;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}

.img-list-is-live.small {
    font-size: 20px;
}

.no-list-mess {
    font-size: 20px;
}

.countdown-block {
    color: #FFF;
    opacity: .9;
    font-weight: bold;
}

.arrow-back {
    border: 0;
    width: 30px;
    height: 30px;
    position: absolute;
    left: 5px;
    top: 50%;
    z-index: 20;
    background-color: transparent;
    background-image: url(/img/back.png);
    background-repeat:no-repeat;
    background-size: 25px;
}

.arrow-back:hover {
    background-color: transparent;
    background-image: url(/img/back_hover.png);
    background-repeat:no-repeat;
    background-size: 25px;
}

.arrow-next {
    border: 0;
    width: 30px;
    height: 30px;
    position: absolute;
    right: 5px;
    top: 50%;
    z-index: 20;
    background-color: transparent;
    background-image: url(/img/next.png);
    background-repeat:no-repeat;
    background-size: 25px;
}

.arrow-next:hover {
    background-color: transparent;
    background-image: url(/img/next_hover.png);
    background-repeat:no-repeat;
    background-size: 25px;
}
