	.nextStreamTimeLine {
		width: 100%;
		height: 40px;
		margin: 20px 0;
		text-align: center;
		font-size: 24px;
		font-weight: bold;
		color: #E31E24;
		line-height: 40px;
    }
    
    .contentWrap {
        align-content: left;
    }

    .listTitle {
		margin: 20px 0 40px;
		padding: 10px 0;
		width: 100%;
		text-align: center;
		color: #FFF;
		font-size: 28px;
		letter-spacing: 1px;
		font-family: sans-serif;
		background: -webkit-linear-gradient(left, #E31E2400 0%, #E31E24FF 30%, #E31E24FF 70%, #E31E2400 100%);
		background: -o-linear-gradient(left, #E31E2400 0%, #E31E24FF 30%, #E31E24FF 70%, #E31E2400 100%);
		background: linear-gradient(to right, #E31E2400 0%, #E31E24FF 30%, #E31E24FF 70%, #E31E2400 100%);
    }
    
	.listWrap {
		position: relative;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-around;
	}

	.activityName {
		width: 100%;
		margin: 30px 0 10px 16px;
		font-size: 26px;
		text-align: left;
		font-weight: bold;
	}

	.activity-name.live {
		margin-left: 22px;
	}
	
	.listItem {
		position: relative;
		width: 40%;
		margin: 0 auto;
        min-height: 320px;
        text-align: left;
		/*width: 400px;*/
		color: #FFF;
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
		background-origin: border-box;
		/*box-shadow: 0 0px 20px 0px #0008;*/
		border: 2px solid #FFF;
		border-radius: 20px;
		transition: all linear .3s;
		cursor: pointer;
	}
	
	.listItem.live {
		width: 48%;
		margin: 0 0 0 22px;
	}


	.listItemDemand{
		position: relative;
		/* width: 40%; */
		margin: 0 auto;
        min-height: 360px;
		text-align: left;
		color: #FFF;
		background-size: 100%, cover;
		background-position:center;
		background-repeat: no-repeat, no-repeat;
		background-origin: border-box;
		/*box-shadow: 0 0px 20px 0px #0008;*/
		border: 2px solid #FFF;
		border-radius: 20px;
		transition: all linear .3s;
		cursor: pointer;
	}

	@media screen and (max-width: 991px) {
		.listItem,
		.listItem.live {
			width: 96%;
			/*margin: 0 auto;*/
		}
	}

	.headerLine {
		height: 24px;
		width: 100%;
	}
	
	.streamInfo {
		position: absolute;
		left: 20px;
		right: 20px;
		bottom: 20px;
		overflow: hidden;
	}

	.classProName, .classTitle, .classDate {
		font-weight: bold;
	}

	.classProName, .classTitle, .classDate, .classDuration {
		color: #FFF;
		opacity: .9;
	}

	.streamViwers,
	.streamIsLive {
		float: left;
		width: 50%;
		text-align: center;
		color: #FFF;
		font-size: 16px;
		line-height: 24px;
		background-color: #555;
		border-bottom: 1px solid #BBB;
	}

	.streamIsLive {
		border-top-left-radius: 20px;
	}

	.streamIsLive.watched {
		background-color: #2CA02C;
	}

	.streamViwers {
		border-top-right-radius: 20px;
	}
	
	.streamViwers {
		background-color: #898989;
	}

	.streamIsLive.online {
		background-color: #E31E24;
	}

	.backBtn {
		padding: 10px 0 10px 40px;
		width: 120px;
		text-align: center;
		color: #000;
		font-size: 24px;
		font-weight: bold;
		font-family: sans-serif;
		cursor: pointer;
		background-image: url(/img/back_btn.png);
		background-position: left center;
		background-repeat: no-repeat;
	}

	.listIsFollower {
		position: absolute;
		right: 10px;
		top: 4px;
		width: 32px;
		height: 32px;
		border-radius: 50%;
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
		background-image: url(/frontend/views/site/img/is_follower.png);
	}

	.listIsLive {
		position: absolute;
		right: 50px;
		top: 4px;
		width: 32px;
		height: 32px;
		border-radius: 50%;
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
		background-image: url(/frontend/views/site/img/is_live.png);
	}

	.noHaveLiveClasses {
		color: #E31E24;
		font-size: 20px;
		font-weight: bold;
		text-align: center;
	}
	
	.vjs-custom-skin {
		min-width: 100%;
	}
	
	.liveTabs {
		width: 100%;
	}

    .testVideo {
       width: 640px;
       height: 360px;
    }

	#videoPlayer {
		max-width: 100%;
	}

	.imgListIsLive {
		height: 40px;
		text-align: center;
		line-height: 38px;
		font-size: 26px;
		position: relative;
		background-color: #E31E24;
		border-top-right-radius: 20px;
		border-top-left-radius: 20px;
	}

	.img-list-is-live.small {
		font-size: 20px;
	}

	.no-list-mess {
		font-size: 20px;
	}

	.countdown-block {
		color: #FFF;
	    opacity: .9;
    	font-weight: bold;
	}
