
.filter-open-btn {
    float: right;
    padding-left: 30px;
    height: 36px;
    width: 130px;
    color: #FFF;
    font-size: 20px;
    line-height: 34px;
    text-align: center;
    background-color: #E31E23;
    background-image: url(/img/filter_icon.png);
    background-position: 16px 50%;
    background-repeat: no-repeat;
    cursor: pointer;
}

.filter-clear-btn {
    float: right;
    margin-right: 9px;
    height: 36px;
    width: 80px;
    color: #444;
    font-size: 14px;
    line-height: 34px;
    text-align: center;
    cursor: pointer;
    border: 1px solid #444;
}


.filter-line {
    width: 100%;
    margin-bottom: 20px;
    overflow: hidden;
}

