.backBtn {
    padding: 10px 0 10px 40px;
    width: 120px;
    text-align: center;
    color: #000;
    font-size: 24px;
    font-weight: bold;
    font-family: sans-serif;
    cursor: pointer;
    background-image: url(/img/back_btn.png);
    background-position: left center;
    background-repeat: no-repeat;
}