.class-wrap {
    position: relative;
    height: 180px;
    border-radius: 20px;
    border: 2px solid #FFF;
    box-shadow: 0 0px 20px 0px #0008;
    margin-bottom: 20px;
    overflow: hidden;
    cursor: pointer;
}


.stream-image {
    float: left;
    width: 25%;
    height: 100%;
    border-right: 2px solid #FFF;
    background-size: 110%, cover;
    background-position: 97% 6%, center;
    background-repeat: no-repeat, no-repeat;
}

.stream-class-info {
    float: left;
    width: 75%;
    height: 100%;
    background-color: #FFF;
}

.header-line {
    height: 24px;
    width: 100%;
}

.stream-viwers,
.stream-is-live {
    float: left;
    width: 50%;
    text-align: center;
    color: #FFF;
    font-size: 16px;
    line-height: 24px;
    background-color: #555;
    border-bottom: 1px solid #BBB;
}

.stream-viwers {
    background-color: #898989;
}

.stream-is-live.online {
    background-color: #E31E24;
}

.stream-is-live.watched {
    background-color: #2CA02C;
}

@media only  screen and (max-width: 1200px) {
    .content-line {
        padding: 20px;
    }
    .class-title-big {
        font-size: 18px;
    }
    .class-title {
        line-height: 18px;
    }
    .class-wrap {
        height: 180px;
    }
    .stream-image {
        background-size: 135%;
    }
}

@media only screen and (max-width: 1023px) {
    .content-line {
        padding: 15px;
    }
    .class-title-big {
        font-size: 18px;
    }
    .class-title {
        line-height: 18px;
    }
    .class-wrap {
        height: 140px;
    }
    .stream-image {
        background-size: 135%;
    }
}

@media only screen and (max-width: 666px) {
    .content-line {
        padding: 10px;
    }
    .class-title-big {
        font-size: 12px;
    }
    .class-title {
        line-height: 14px;
    }
    .class-wrap {
        height: 90px;
    }
    .stream-image {
        background-size: 175%;
    }
}

