









.no-have-class {
    text-align: center;
    font-size: 30px;
}

.class-video {
    margin: 0 auto;
    overflow: hidden;
}

.btn-group {
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.btn-group button {
    border: none;
    color: #444;
    text-decoration: none !important;
}

.btn-group button:hover,
.btn-group button.active {
    background-color: #E31E24;
    color: #FFF;
    border: none;
}

button:hover,
button.active {
    background-color: #E31E24;
    color: #FFF;
    border: none;
}


.vue2-slideout-panel {
    overflow: unset;
}

.filter-open-btn {
    float: right;
    padding-left: 30px;
    height: 36px;
    width: 130px;
    color: #FFF;
    font-size: 20px;
    line-height: 34px;
    text-align: center;
    background-color: #E31E23;
    background-image: url(/img/filter_icon.png);
    background-position: 16px 50%;
    background-repeat: no-repeat;
    cursor: pointer;
}

.filter-clear-btn {
    float: right;
    margin-right: 9px;
    height: 36px;
    width: 80px;
    color: #444;
    font-size: 14px;
    line-height: 34px;
    text-align: center;
    cursor: pointer;
    border: 1px solid #444;
}

.tabs .tab-content {
    padding: 10px 0 40px !important;
}

.filter-line {
    width: 100%;
    margin-bottom: 20px;
    overflow: hidden;
}

.panel.default {
    background-color: #E6E6E6 !important;
    padding: 2rem 2rem !important;
}

.filter-acc-wrap {
    margin: 10px 0;
}

.filter-acc-header {
    width: 100%;
    border-radius: unset;
    background-color: #E31E24;
    color: #FFF;
    font-size: 20px;
    line-height: 40px;
    padding: 0;
    border: none !important;
}

.filter-acc-body {
    width: 100%;
    padding: 10px 20px 0;
}

.btn-filter-wrap {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.filter-btn {
    margin: 6px 0;
    width: 30%;
    border: 1px solid #E31E24;
    text-align: center;
    line-height: 32px;
    color: #444;
    font-size: 14px;
    cursor: pointer;
}

.filter-btn.active,
.filter-btn:hover {
    color: #FFF;
    background-color: #E31E24;
}

.list-wrap {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

#videoPlayer {
    max-width: 100%;
}