.classWrap {
    position: relative;
    height: 180px;
    border-radius: 20px;
    border: 2px solid #FFF;
    box-shadow: 0 0px 20px 0px #0008;
    margin-bottom: 20px;
    overflow: hidden;
    cursor: pointer;
}

.streamImage {
    float: left;
    width: 25%;
    height: 100%;
    border-right: 2px solid #FFF;

    background-size: 100%, cover;
    background-position: 97% 6%, center;
    background-repeat: no-repeat, no-repeat;
}

.streamClassInfo {
    float: left;
    width: 75%;
    height: 100%;
    background-color: #FFF;
}

.headerLine {
    height: 24px;
    width: 100%;
}

.streamViwers,
.streamIsLive {
    float: left;
    width: 50%;
    text-align: center;
    color: #FFF;
    font-size: 16px;
    line-height: 24px;
    background-color: #555;
    border-bottom: 1px solid #BBB;
}

.streamViwers {
    background-color: #898989;
}

.streamIsLiveOnline {
    background-color: #E31E24;
}

.streamIsLiveWatched {
    background-color: #2CA02C;
}

.contentLine {
    padding: 20px;
}

.classTitle {
    color: #444;
    font-size: 18px;
    font-weight: bold;
    line-height: 34px;
}

.classTitleBig {
    font-size: 22px;
}

.noHaveClass {
    text-align: center;
    font-size: 30px;
}

.classVideo {
    margin: 0 auto;
    overflow: hidden;
}

.btnGroup {
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.btnGroupButton {
    border: none;
    color: #444;
    text-decoration: none !important;
}

.btnGroup button:hover,
.btnGroup button.active {
    background-color: #E31E24;
    color: #FFF;
    border: none;
}

button:hover,
button.active {
    background-color: #E31E24;
    color: #FFF;
    border: none;
}


.vue2SlideoutPanel {
    overflow: unset;
}

.filterOpenBtn {
    float: right;
    padding-left: 30px;
    height: 36px;
    width: 130px;
    color: #FFF;
    font-size: 20px;
    line-height: 34px;
    text-align: center;
    background-color: #E31E23;
    background-image: url(/frontend/views/site/img/filter_icon.png);
    background-position: 16px 50%;
    background-repeat: no-repeat;
    cursor: pointer;
}

.filterClearBtn {
    float: right;
    margin-right: 9px;
    height: 36px;
    width: 80px;
    color: #444;
    font-size: 14px;
    line-height: 34px;
    text-align: center;
    cursor: pointer;
    border: 1px solid #444;
}

.tabs .tabContent {
    padding: 10px 0 40px !important;
}

.filterLine {
    width: 100%;
    margin-bottom: 20px;
    overflow: hidden;
}

.panelDefault {
    background-color: #E6E6E6 !important;
    padding: 2rem 2rem !important;
}

.filterAccWrap {
    margin: 10px 0;
}

.filterAccHeader {
    width: 100%;
    border-radius: unset;
    background-color: #E31E24;
    color: #FFF;
    font-size: 20px;
    line-height: 40px;
    padding: 0;
    border: none !important;
}

.filterAccBody {
    width: 100%;
    padding: 10px 20px 0;
}

.btnFilterWrap {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.filterBtn {
    margin: 6px 0;
    width: 30%;
    border: 1px solid #E31E24;
    text-align: center;
    line-height: 32px;
    color: #444;
    font-size: 14px;
    cursor: pointer;
}

.filterBtnActive,
.filterBtn:hover {
    color: #FFF;
    background-color: #E31E24;
}

.listWrap {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.backBtn {
    padding: 10px 0 10px 40px;
    width: 120px;
    text-align: center;
    color: #000;
    font-size: 24px;
    font-weight: bold;
    font-family: sans-serif;
    cursor: pointer;
    background-image: url(/img/back_btn.png);
    background-position: left center;
    background-repeat: no-repeat;
}
