.activityWrap {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-around;
	margin: 40px 0;
}

.activityElem {
	flex-basis: 48%;
	margin-bottom: 30px;		
/*	min-width: 460px;
	padding: 20px;
*/	border-radius: 20px;
	background-color: #FFF;
	cursor: pointer;
	box-shadow: 0 0 20px -10px #000;
	box-shadow: 0 0 20px -10px #0008;
}

@media screen and (max-width: 991px) {
	.activityElem {
		flex-basis: 96%; 
	}
}

.activityElem table {
	width: 100%;
}

.activityElem table .tdIco {
	width: 100px;
}

.activityElem table tr td {
	padding: 0 20px;
}

.activityIcoWrap {
	float: left;
}

.activityIco {
	width: 100px;
	height: 100px;
	/*margin: 30px 20px 30px 0;*/
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
}


.activityContent {
	margin-left: 120px;
}

.activityTitle {
	padding: 20px 0;
	font-size: 24px;
	font-weight: bold;
	text-transform: uppercase;
}

.activityDesc {
	font-size: 18px;
}